
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__container {
    width: 80%;
}

.habilidades {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, mimax(120px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8%;
    width: 100%;
    margin: 12vmin 0;
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3vmin;
    transition: all 0.3s ease-in-out;
}

.habilidade__imagem {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s;
}

.habilidade__titulo {
    color: var(--cinza-clarinho);
    margin-bottom: 10%;
    font-weight: bold;
    transition: color 0.5s;
}

.habilidade__nivel {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(0.5vmin, 1vmin, 1vmin);
    margin-top: 1vh;
    column-gap: 0.5vh;
    transition: color 0.5s;
}

.habilidade:hover .habilidade__imagem {
    filter: grayscale(0%);
}

.habilidade:hover .habilidade__nivel {
    color: var(--amarelo-botao);
}

.habilidade:hover .habilidade__titulo {
    color: var(--amarelo-botao);
}

.habilidade:hover {
    transform: scale(1.2);
}