

.principal {
    display: flex;
    width: 100%;
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 10%;
}

.infos__nome {
    font-weight: 700;
}

.infos__texto {
    font-size: clamp(1vmin, 2vmin, 2vmin);
}

.principal__img {
    align-self: center;
}

.principal__infos {
    display: flex;
    flex-direction: column;
}

.infos__introducao {
    font-size: clamp(1vmax, 1.5vmax, 1.5vmax);
    margin-bottom: 1.5%;
}

.infos__titulo {
    font-size: clamp(1vmax, 2vmax, 2vmax);;
    margin-bottom: 1.5%;
}

.infos__botao {
    margin: 5vh 0;
}

