
.sobre {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.sobre__container {
    width: 100%;
}

.sobre__container__conteudo {
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;
}

.sobre__imagem {
    width: 50%;
    align-self: center;
}

.sobre__infos {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: clamp(0.8rem, 0.8vmin, 3rem);
}

.sobre__infos__lista__elemento {
    margin: 2.5vh 0;
}

.sobre__infos__lista__elemento__titulo {
    color: var(--secundaria);
    font-size: clamp(1vmin, 2.5vmin, 2.5vmin);
}

.sobre__infos__lista__elemento__conteudo {
    margin-top: 0.2em;  
    font-size: clamp(1vmin, 2.5vmin, 2.5vmin);
}

.sobre__infos-lista__elemento-botao {
    margin-top: 20%;
}

.sobre__infos__botao {
    padding: 1vw 1.5vw;
}