:root {
    --amarelo-botao: #F5B63F;
    --branco: #FFFFFF;
    --cinza-claro: #2B2A2A;
    --cinza-clarinho: #C4C4C4;
}

body {
    background-color: #111111;
    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.secao {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5%;
}

.botao {
    background-color: var(--amarelo-botao);
    width: 10em;
    padding: 0.5em 0.3em;
    border-radius: 10px;
    color: var(--branco);
    font-size: 1.3em;
    border: none;
    cursor: pointer;
}

.titulo {
    color: var(--amarelo-botao);
    font-size: 4em;
    font-weight: bold;
}


.principal {
    display: flex;
    width: 100%;
}

.principal__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 10%;
}

.principal__nome {
    font-weight: 700;
}

.principal__img {
    align-self: center;
}

.principal__infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40%;
}

.principal__infos__introducao {
    font-size: clamp(1vmax, 1.5vmax, 1.5vmax);
    margin-bottom: 0.1em;
}

.principal__infos__titulo {
    font-size: clamp(1vmax, 2vmax, 2vmax);;
    margin-bottom: 0.1em;
}

.principal__infos__botao {
    margin: 5vh 0;
}

.principal__cabecalho {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10vh;
}

.cabecalho__botao-texto {
    display: none;
}

.cabecalho__botao {
    background-color: var(--cinza-claro);
    border-radius: 50%;
    padding: 1vh;
    color: var(--branco);
    text-decoration: none;
    margin-right: 1em;
    display: flex;
    transition: width 2s, color 1s;
}

.cabecalho__botao:hover {
    border-radius: 16px;
    background-color: var(--amarelo-botao);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__botao:hover .cabecalho__botao-texto {
    display: inline-block;
}

.sobre {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.sobre__container {
    width: 100%;
}

.sobre__container__conteudo {
    display: flex;
    flex-direction: column;
    margin: 10% 0 0 10%;
}

.sobre__imagem {
    width: 50%;
    align-self: center;
}

.sobre__infos {
    margin: 5% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobre__infos__lista__elemento {
    margin: 2.5vh 0;
}

.sobre__infos__lista__elemento__titulo {
    color: var(--cinza-clarinho);
    font-size: 1.3em;
}

.sobre__infos__lista__elemento__conteudo {
    margin-top: 0.2em;  
    font-size: 2em;
}

.sobre__infos-lista__elemento-botao {
    margin-top: 20%;
}

.portfolio {
    display: flex;
    align-items: center;
}

.portfolio__container {
    width: 80%;
}

.portfolio__infos {
    width: 100%;
}

.splide {
    width: 100%;
}

.splide__pagination {
    margin-top: 100%;
}

.portfolio__imagem {
    width: 100%;
}

.portfolio__titulo {
    margin-bottom: 5%;
}

.portfolio__botoes {
    margin-bottom: 1%;
    display: flex;
    justify-content: flex-end;
}

.portfolio__botao {
    text-decoration: none;
    font-size: clamp(1vmin, 2.5vmin, 2.5vmin);
    color: var(--cinza-clarinho);
    margin-left: 1vw;
}

.portfolio__botao-principal {
    margin-top: 5vh;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__container {
    width: 80%;
}

.habilidades {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, mimax(120px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8%;
    width: 100%;
    margin: 12vmin 0;
}

.habilidade {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 3vmin;
}

.habilidade__imagem {
    width: 100%;
    filter: grayscale(100%);
}

.habilidade__titulo {
    color: var(--cinza-clarinho);
    margin-bottom: 10%;
    font-weight: bold;
    
}

.habilidade__nivel {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: clamp(0.5vmin, 1vmin, 1vmin);
    margin-top: 1vh;
    column-gap: 0.5vh;
}

.habilidade:hover .habilidade__imagem {
    filter: grayscale(0%);
}

.habilidade:hover .habilidade__nivel {
    color: var(--amarelo-botao);
}

.habilidade:hover .habilidade__titulo {
    color: var(--amarelo-botao);
}

.experiencia {
    display: flex;
    align-items: center;
}

.experiencia__container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.experiencia__conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.experiencia-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 0;
    width: 40%;
}

.experiencia-lista__item {
    margin-bottom: 5%;
}

.experiencia-lista__data {
    display: flex;
    column-gap: 1%;
}

.experiencia-lista__data__icone {
    color: var(--amarelo-botao);
}

.experiencia-lista__item__titulo {
    font-size: clamp(1vmin, 2.5vmin, 2.5vmin);
    font-weight: bold;
}

.experiencia__botao {
    margin-bottom: 6%;
}

.experiencia-quadros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vh;
    width: 40%;
}

.experiencia-quadros__quadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 100%;
    row-gap: 20%;
    padding: 10%;
}

.experiencia-quadros__titulo {
    color: var(--amarelo-botao);
    font-weight: bold;
    font-size: 5vmin;
}

.educacao {
    display: flex;
    align-items: center;
}

.educacao__container {
    width: 80%;
}

.educacao__conteudo {
    margin: 6vh 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8%;
}

.educacao__lista {
    display: flex;
    flex-direction: column;
}

.educacao__lista-item {
    margin: 3vmin;
}

.educacao__lista__titulo {
    display: flex;
    justify-content: center;
    background-color: var(--cinza-claro);
    color: var(--amarelo-botao);
    font-weight: bold;
    padding: 1vmin 0;
}

.educacao__botao {
    align-self: flex-end;
}

.lista__item {
    display: flex;
}

.item__icone {
    padding: 1%;
    border-radius: 5px;
    background-color: var(--amarelo-botao);
    font-size: 1.5em;
    color: #111111;
    margin-right: 1%;
}

.item__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item__titulo {
    color: var(--cinza-clarinho);
}

.item__descricao {
    font-weight: bold;
}

.contato {
    display: flex;
    align-items: center;
}

.contato__container {
    width: 80%;
}

.contato__lista {
    display: flex;
    flex-direction: column;
    row-gap: 7%;
    width: 50%;
}

.contato__conteudo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    margin-top: 5%;
}

.contato__formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contato__input {
    padding: 1.5vh;
    background-color: var(--cinza-claro);
    color: var(--cinza-clarinho);
    border-radius: 8px;
    border: solid 1px var(--cinza-clarinho);
    margin-bottom: 3%;
}

.contato__formulario textarea {
    font-family: 'Roboto', sans-serif;
}

.contato__mensagem {
    height: 40%;
}

.contato__botoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contato__redes-sociais {
    display: flex;
    justify-content: space-between;
    width: 8%;
}

.contato__rede {
    color: var(--amarelo-botao);
    font-size: clamp(1rem, 1vh, 3rem);
    border-radius: 50px;
}

.icone__fundo {
    color: var(--cinza-claro);
}

.contato__rede:hover .icone__fundo {
    color: var(--amarelo-botao);
}

.contato__rede:hover .icone__marca {
    color: var(--cinza-claro);
}